<h1>All Todo Lists</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= link_to todo_list.name, todo_list%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<form action="<%= todo_lists_path %>" method="POST">
    <%= token_tag nil %>
    <label for="todo_list_name">Todo List name</label>
    <input type="text" name="todo_list[name]" id="todo_list_name"> <br>
    <input type="submit" value="Create Todo list">
</form>
