<form action="<%= todos_path %>" method="POST">
    <%= token_tag nil %>
    <label for="todo_name">Add Todo</label>
    <input type="text" name="todo[name]" id="todo_name" > <br>
    <input type="submit" value="Create Todo">
</form>